@charset "utf-8";
/* CSS Document */

#ganttDiagram{ /* Main container */

    position:relative;
    float:left;
    height:auto;
    width:100%; /*Since 1.1.0 uses all space available*/
    overflow:auto;
    z-index: 2; /*ensure overlapping for full screen mode*/
}

.ganttProject {
    z-index: 1;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
    opacity: 0.9;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
}

.ganttFatherProject, .ganttProject{ /* Surrounding projects : father projects & usual project are positionned by absolute coordinates*/
    position:absolute;
}

.ganttObject{ /* Constraints and stars */
    position:absolute;
    z-index:2;
}

.ganttTitle{
    text-transform:uppercase;
}

.ganttReinforced{ /* Emphasis style */

    font-weight:bold;
}

.ganttName{ /*Space for projects names, allows long names*/
    height: 35px;
    overflow: hidden;
}
.ganttName:hover{
    height: auto;
}

.time{/* Marker for the current day */
    position:absolute;
    display: inline-block;
    height: 100%;
    width:3px;
    z-index: 3;
}


path{ /* Arrow line with SVG*/
    stroke-width:3px;
    stroke-linecap:round;
    fill:none;
}


#ganttDiagram table td{ /* Diagram cells */

    text-align:center;
    border:1px solid rgba(0,0,0,0.5);
    height:35px;

    min-width:35px;
    max-width:35px;
    padding:0;
}

#ganttTitle{ /* Diagram's title */
    position:relative;
    float: left;

    display: flex; /*Hail to CSS3 !*/
    align-items:center;
    justify-content:center;

    width:20%;
    height:72px; /*measures 2 rows = 2*36 (cells) + 2*1 (borders)*/
}


#ganttHeader{ /* Months and days */
    position:relative;
    float: left;
    width:80%;

    box-shadow:0 2px 2px black;
    font-weight:bold;
    overflow:hidden;
    z-index:4;
}

#ganttSider{ /* Name and projects progresses */
    position:relative;
    float: left;
    width: 20%;
    height:206px;

    overflow:hidden;
    box-shadow:2px 0 2px black;
    z-index:2;
}

#ganttSider table{
    width:100%;
}

#ganttDays{ /* Projects renderer container */
    position:relative;
    height:226px;
    width:80%;

    overflow:scroll;
}

#ganttLegend{
    display: flex; /*Hail to CSS3 !*/
    align-items:center;
    justify-content:center;
    overflow: hidden;
    position: relative;
    height: 50px;


}

.ganttLegendButton{/*hint buttons that can be found in legend & left panel*/
    color: white;
    overflow: hidden;
    border-radius:3px;
    display: inline-flex;

    justify-content:center;


    background-color: rgba(148, 161, 161, 0.5);
    width: 30px;
    height: 30px;
}

.ganttLegendButton:hover{
    cursor: pointer;
    background-color: rgba(148, 161, 161, 0.9);
}

.ganttLegendInformation{
    display: inline-flex;
    justify-content:center;
    padding: 2em;
}

.ganttRight{
    float: right;
    margin-right: 5px;
}