@charset "utf-8";
/* CSS Document */

#ganttDiagram{
	position:relative;
	float:left;
	height:300px;
    width:100%;
	overflow:auto;
    
	
}

.ganttProject, .ganttProjectStart, .ganttProjectEnd{
	width:auto;
	height:85%;
    z-index:1;
	margin: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
    box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0 inset;
	opacity: .9;
}

.ganttProject{
    margin-right:-1px;
}

.ganttProjectStart{

	float:right;
	width:100%;
	border-left: 1px solid black;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
	margin-right:-1px;
	padding-right:1px;
}

.ganttProjectEnd{
	width:85%;

	border-right:1px solid black;
	border-top-right-radius:3px;;
	border-bottom-right-radius:3px;
    margin-left:0px;
    margin-right:2px;
    
}




.ganttEmbed{ /*Titre*/
    text-transform:uppercase;
    font-weight:bold;
    
}


time{/*marqueur aujourd'hui*/
	position:absolute;
	top: 72px;
	width: 2px;	
	z-index: 3;
}

.ganttObject{
	position:absolute;
    z-index:2;
	max-height:399px;
}

path{
	stroke-width:3px;
    stroke-linecap:round;
    fill:none;
}


#ganttDiagram table td{
    
	text-align:center;
	border:1px solid rgba(0,0,0,0.5);
	height:35px;
    
	min-width:35px;
    max-width:35px;
    padding:0; /* /!\ Look out if awkward spacing /!\ */
}


#ganttHeader{ /*Mois et jours*/
	position:relative;
	left:200px;
    width:480px;
	box-shadow:0 2px 2px black;
    font-weight:bold;
    overflow:hidden;
    z-index:4;
}

#ganttSider{
    position:absolute;
    left:0;
    top:72px;
	width: 199px;
    height:206px;
    overflow:hidden;
	border-right: 1px solid rgba(0,0,0,1); 
	box-shadow:2px 0 2px black;
	z-index:2;
}

#ganttSider table{
    width:100%;
    height:9%;
}

#ganttDays{
	position:absolute;
    left:200px;
    top:0px;
    height:226px;
    width:500px;
    padding-top:72px;
    overflow:auto;
    
}

#ganttTitle{
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    width:200px;
    height:72px;
}